@import '../../globale.scss';

form.add-comment-form {
    width: 100%;
    @include flex-center;
    justify-content: space-between;
    padding: 0.5rem;

    input {
        width: 90%;
        background-color: transparent;
    }

    button {
        border: none;
        outline: none;
        border-radius: 0.3rem;
        background-color: $btn-color-2;
        color: #fff;
        // width: 10%;
        padding: 0.3rem;
        cursor: pointer;

        &:hover {
            background-color: $btn-color-1;
        }

        &:disabled {
            background-color: gray;
        }

        @media (max-width:768px) {
            width: fit-content;
            margin-left: -0.5rem;
        }
    }
}