@import '../../globale.scss';

.friend-suggestion {
    @include flex-center;
    justify-content: space-between;
    padding: 0 0.5rem;
    margin: 1rem 0;
}

.friend {
    @include flex-center;
    justify-content: flex-start;
    gap: 0.5rem;

    p span {
        color: $text-color-3;
    }
}