@import '../../globale.scss';

.post-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    @include flex-center;

    .close-icon {
        position: absolute;
        top: 0rem;
        right: 0rem;
        width: 50px;
        height: 50px;

        svg {
            font-size: 2rem;

            >path {
                stroke: #fff;
            }
        }
    }

    .post-details-content {
        @include flex-center;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        width: 80%;
        max-width: 80%;
        height: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid rgba(0, 0, 0, 0.5);
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 0;
        overflow: hidden;

        @media (max-width:768px) {
            width: 95%;
            max-width: 95%;
            top: 35%;
            transform: translate(-50%, -35%);
            height: calc(100vh - 100px);
            flex-direction: column;
        }

        .post-img {
            width: 50%;
            height: 100%;
            object-fit: contain;
            margin: 0.3rem;
            border-radius: 0.5rem;

            @media (max-width:768px) {
                width: 100%;
                height: 30%;
            }
        }

        .post-info {
            width: 50%;
            height: 100%;
            position: relative;

            @media (max-width:768px) {
                width: 100%;
                height: 70%;
            }

            .post-info-header {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 60px;
                background-color: #fff;
                z-index: 999;
                @include flex-center;
                justify-content: space-between;
                padding: 1rem;
                border-bottom: 1px solid whitesmoke;

                .post-info-user {
                    @include flex-center;
                    justify-content: flex-start;
                    gap: 0.5rem;

                    img {
                        width: 35px;
                        height: 35px;
                        object-fit: cover;
                    }

                    p span {
                        color: $text-color-3;
                    }
                }

                .three-btn {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    font-size: 2rem;

                    &:hover {
                        color: $text-color-3;
                    }
                }
            }

            .comments {
                height: calc(100% - 190px);
                overflow-y: scroll;
                margin-top: 65px !important;
                margin-bottom: 130px;
                padding: 0.5rem 0 1.5rem 0;
            }

            .reactions {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 130px;
                background-color: #fff;
                z-index: 999;
            }
        }
    }
}