@import '../../globale.scss';

.mobile-header {
    position: fixed;
    background-color: #fff;
    z-index: 9;
    top: 0;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid $border-color;
    display: none;
    padding: 0 1rem;

    .input {
        @include flex-center;
        gap: 1rem;

        input {
            border-radius: 0.5rem;
            padding: 0.6rem 0.5rem;
            background-color: #efefef;
        }

        >a {
            width: initial;
            color: $text-color-1;

            svg {
                font-size: 1.5rem;
            }
        }
    }

    .search-results {
        position: fixed;
        background-color: #fff;
        z-index: 9;
        top: 60px;
        right: 3rem;
        height: calc(100vh - 60px);
        overflow-y: scroll;
        width: 350px;
        padding: 0.5rem;
        filter: drop-shadow(0 4px 12px rgba(0, 0, 0, .15));

        .result {
            @include flex-center;
            justify-content: flex-start;
            margin: 0.3rem;
            gap: 0.5rem;
        }
    }
}

@media (max-width:768px) {
    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .input {
            flex: 0.8;
        }
    }
}