@import '../../globale.scss';

.post {
    width: 90%;
    max-width: 500px;
    padding: 1rem 0;
    border-bottom: 1px solid $border-color;

    img {
        width: 100%;
        max-width: 500px;
        height: 350px;
        object-fit: contain;
    }

    .caption {
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &+button {
            background-color: transparent;
            border: none;
            outline: none;
            color: $text-color-3;
            cursor: pointer;
        }
    }

    a {
        color: $text-color-3;
        font-size: 0.9rem;
    }
}

.post-header {
    @include flex-center;
    justify-content: space-between;
    padding: 0 0.5rem;
    margin: 1rem 0;

    img {
        width: 35px;
        height: 35px;
        object-fit: cover;
    }

    .three-btn {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
            color: $text-color-3;
        }
    }
}

.post-header-user {
    @include flex-center;
    justify-content: flex-start;
    gap: 0.5rem;

    p span {
        color: $text-color-3;
    }
}