@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$text-color-1: #000000;
$text-color-2: #383838;
$text-color-3: rgb(115, 115, 115);

$btn-color-1: rgb(0, 149, 246);
$btn-color-2: rgb(24, 119, 242);

$border-color: rgb(219, 219, 219);