@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$text-color-1: #000000;
$text-color-2: #383838;
$text-color-3: #737373;

$btn-color-1: #0095f6;
$btn-color-2: #1877f2;

$border-color: rgb(219, 219, 219);