@import '../../globale.scss';

a.link {
    @include flex-center;
    justify-content: flex-start;
    text-decoration: none;
    color: $text-color-2;
    font-size: 1.2rem;
    border: none;
    padding: 0.5rem;

    >svg {
        font-size: 1.5rem;
    }

    &:hover {
        background-color: whitesmoke;
    }
}

@media (max-width: 1220px) {
    a.link {
        justify-content: center;
    }
}

a.active>svg {
    color: $text-color-1;
    font-size: 1.7rem;
}